@import '@fontsource/merriweather';
@import '@fontsource-variable/raleway';
@import '@fontsource-variable/fira-code';

html {
	/* font */
	--font-sans: 'Raleway', sans-serif;
	--font-serif: 'Merriweather', serif;
	--font-mono: 'Fira Code', monospace;

	/* dark */
	--brand-dark: #ff7100;
	--text-1-dark: var(--gray-3);
	--text-2-dark: var(--gray-5);
	--surface-1-dark: var(--gray-12);
	--surface-2-dark: var(--gray-11);
	--surface-3-dark: var(--gray-10);
	--surface-4-dark: var(--gray-9);
	--background-dark: var(--gradient-8);
	--border-dark: var(--gray-2);

	/* light */
	--brand-light: #ff7100;
	--text-1-light: var(--gray-8);
	--text-2-light: var(--gray-7);
	--surface-1-light: var(--gray-0);
	--surface-2-light: var(--gray-1);
	--surface-3-light: var(--gray-2);
	--surface-4-light: var(--gray-3);
	--background-light: none;
	--border-light: var(--gray-8);
}

:root {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;

		--brand: var(--brand-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--background: var(--background-light);
		--border: var(--border-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;

	--brand: var(--brand-dark);
	--text-1: var(--text-1-dark);
	--text-2: var(--text-2-dark);
	--surface-1: var(--surface-1-dark);
	--surface-2: var(--surface-2-dark);
	--surface-3: var(--surface-3-dark);
	--surface-4: var(--surface-4-dark);
	--background: var(--background-dark);
	--border: var(--border-dark);
}

[color-scheme='light'] {
	color-scheme: light;

	--brand: var(--brand-light);
	--text-1: var(--text-1-light);
	--text-2: var(--text-2-light);
	--surface-1: var(--surface-1-light);
	--surface-2: var(--surface-2-light);
	--surface-3: var(--surface-3-light);
	--surface-4: var(--surface-4-light);
	--background: var(--background-light);
	--border: var(--border-light);
}

html,
body {
	height: 100%;
}

html {
	color: var(--text-1);
	accent-color: var(--link);
	background-image: var(--background);
	background-attachment: fixed;
}

img {
	border-radius: var(--radius-3);
}

/* TYPOGRAPHY */

a:visited {
	color: inherit;
}

a[href^='http'] {
	background: url('/images/icons/external.svg') no-repeat 100% 0;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: 1rem;
	padding-inline-end: 1.5rem;
	margin-inline-end: 0.2rem;
}

h1 {
	font-size: var(--font-size-6);
}

h2 {
	font-size: var(--font-size-5);
}

h3 {
	font-size: var(--font-size-4);
}

h4 {
	font-size: var(--font-size-3);
}

ul,
ol {
	list-style: none;
	padding: 0;
}

li {
	padding-inline-start: 0;
}

/* SURFACE CLASSES */

.surface-1 {
	background-color: var(--surface-1);
	color: var(--text-2);
}

.surface-2 {
	background-color: var(--surface-2);
	color: var(--text-2);
}

.surface-3 {
	background-color: var(--surface-3);
	color: var(--text-1);
}

.surface-4 {
	background-color: var(--surface-4);
	color: var(--text-1);
}

/* MARKDOWN */
.markdown :is(h1) {
	max-inline-size: var(--size-header-3);
}

.markdown :is(h1, h2, h3, h4, h5, h6) {
	margin-block-start: var(--size-8);
	margin-block-end: var(--size-3);
}

.markdown :not(:is(h1, h2, h3, h4, h5, h6) + p) {
	margin-block-start: var(--size-7);
}

.markdown :is(ul, ol) li {
	margin-block: var(--size-2);
	padding-inline-start: var(--size-2);
}

.markdown pre {
	max-inline-size: 100%;
	padding: var(--size-3);
	background-color: var(--surface-4);
	border-radius: var(--radius-3);
	tab-size: 2;
}

/* TEXT HIGHLIGHTING */
::selection {
	color: var(--brand);
}

::-moz-selection {
	color: var(--brand);
}

/* SCROLLBAR */

html,
body {
	scrollbar-color: var(--brand);
	scrollbar-width: thin;

	&.smooth-scroll {
		scroll-behavior: smooth;
	}
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: calc(var(1rem) * 0.25);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
	/* the "track" of the bar - great for customizing "background" colors */
	background: transparent;
}

::-webkit-scrollbar-thumb {
	/* the actual draggable element */
	color: var(--brand);
}

scrollbar-color {
	/* color of the draggable element */
	color: var(--brand);
}

/* LAYOUT */

.post-chart--full-width {
	position: relative;
	height: 600px;

	width: 100vw;
	max-width: 100vw;
	left: calc(-50vw + 50%);
}

/* CODE */
pre,
code {
	font-family: var(--font-mono);
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

pre {
	overflow-y: auto;
	padding: var(--size-2);
	font-size: var(--font-size-3);
}

code {
	font-size: var(--font-size-3);
	padding-inline: var(--size-2);
	border-radius: var(--raidus-2);
	white-space: pre;
	display: block;
	text-wrap: pretty;
}

pre code {
	padding: 0;
	background: transparent;
	font-size: 0.8rem;
}
